<div>
  <div class="row">
    <p class="fw-bold">Editar registro</p>
  </div>
  <form [formGroup]="record">
    <div class="row">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Película</mat-label>
        <input matInput formControlName="movie">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Selecione la nueva puntuación</mat-label>
        <mat-select formControlName="rating">
          <mat-option *ngFor="let r of ratings" [value]="r">{{r}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <button mat-stroked-button color="warn"
            class="col-5 m-2"
            (click)="closeDialog()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-stroked-button color="primary"
            class="col-5 m-2"
            [disabled]="record.invalid"
            (click)="UpdRating()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
</div>
