.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.cal {
  color: lightslategrey;
  font-family: "Microsoft YaHei UI Light";
}

.card-img-top {
  width: 86%;
  object-fit: cover;
}
